body {
    background-color: #1a0640;
    color: white;
    height: 100vh;
    overflow: hidden;
}
.sidebar {
    background-color: #00204a;
    padding: 20px;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.sidebar a {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #004080;
    border-radius: 5px;
}
.dashboard-content {
    margin-left: 270px;
    padding: 20px;
}